---
import Logo from "./Logo.svelte";
import { MenuBar } from "@components/MenuBar.tsx";
import { MobileMenu } from "@components/MobileMenu.tsx";
// import MobileNav from "@components/MobileNav.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import FacebookButton from "@components/Socials/FacebookButton.astro";
import InstagramButton from "@components/Socials/InstagramButton.astro";
const currentPath = Astro.url.pathname;
import { navLinks, footerLinks } from "@lib/links";

let mobileLinks = navLinks.filter((link) => link.href !== "/industries");
mobileLinks = [...mobileLinks, ...footerLinks];
// const industriesLinks = links.filter(link=>link.href === '/industries');
---

<div class="navbar">
	<div class="flex-1">
		<Logo header />
	</div>
	<div class="menu-horizontal">
		<MenuBar client:load links={navLinks} {currentPath} />
		<InstagramButton />
		<FacebookButton />
		<ThemeToggle />
	</div>
	<div class="menu-mobile">
		<InstagramButton />
		<FacebookButton />
		<!-- TODO add dropdown for industries   {industriesLinks} -->
		<!-- TODO migrate MobileMenu to Astro component -->
		<MobileMenu client:load links={mobileLinks} {currentPath}>
			<!-- <ThemeToggle /> -->
		</MobileMenu>
		<!-- <MobileNav links={mobileLinks} {currentPath} /> -->
	</div>
</div>

<style lang="postcss">
	@reference '@styles/app.css';
	.navbar {
		@apply z-10 sticky isolate top-0;
		@apply shadow-sm rounded-lg m-4;
		@apply flex flex-row items-center py-2 px-4;
		@apply dark:bg-zinc-900/80 bg-white/60 backdrop-blur-xs;
	}
	.menu-horizontal {
		@apply hidden md:flex flex-none flex-row items-center gap-2 z-3;
		> li {
			@apply mx-1;
		}
	}
	.menu-mobile {
		@apply flex md:hidden;
	}
</style>
